In [279]:
#Importing necessary libraries
import numpy as np
import pandas as pd

In [280]:
df=pd.read_csv('Fmobiles.csv')

In [281]:
df.head()

,Unnamed: 0,BRAND,PRODUCT_NAME,COLOR,MEMORY,STAR_RATING,RATINGS,REVIEWS,RAM,BATTERY_C,SCREEN_SIZE,WARRANTY,OFFER_PRICE,DISCOUNT,MRP
0,0,Redmi,"8 (Onyx Black, 64 GB)",Onyx Black,64.0,4.4,"4,61,522","38,510",4.0,5000,6.22,1.0,8999,18% off,10999
1,1,Realme,"5i (Forest Green, 128 GB)",Forest Green,128.0,4.4,"1,37,585","10,799",4.0,5000,6.52,1.0,10999,8% off,11999
2,2,Realme,"C3 (Frozen Blue, 32 GB)",Frozen Blue,32.0,4.4,"29,310","2,983",3.0,5000,6.52,1.0,7499,6% off,7999
3,3,Realme,"C3 (Blazing Red, 32 GB)",Blazing Red,32.0,4.4,"29,310","2,983",3.0,5000,6.52,1.0,7499,6% off,7999
4,4,Realme,"5i (Forest Green, 64 GB)",Forest Green,64.0,4.4,"1,37,585","10,799",4.0,5000,6.52,1.0,9999,9% off,10999

We observe that all the columns of the object datatype. We have to change some of them in to numeric datatypes.

- Columns to be changed: 
 `MEMORY`,`STAR_RATING`,`RATINGS`,`REVIEWS`,`RAM`,`BATTERY_C`,`SCREEN_SIZE`,`OFFER_PRICE`,`DISCOUNT`,`MRP`

In [282]:
df['OFFER_PRICE']=df['OFFER_PRICE'].astype(int)

In [283]:
df['MRP']=df['MRP'].astype(int)

### Observations
Offerprice and Mrp can be converted to int type where there are no null values and there are no float values

In [284]:
df['REVIEWS']=df['REVIEWS'].str.replace(',','').astype(float)

In [285]:
df['MEMORY']=df['MEMORY'].astype(float)

In [286]:
df['RATINGS']=df['RATINGS'].str.replace(',','').astype(float)

In [287]:
df['RAM']=df['RAM'].astype(float)

In [288]:
df['BATTERY_C']=df['BATTERY_C'].astype(float)

In [289]:
df['STAR_RATING']=df['STAR_RATING'].astype(float)

In [290]:
df['SCREEN_SIZE']=df['SCREEN_SIZE'].astype(float)

In [291]:
df['WARRANTY']=df['WARRANTY'].astype(float)

### Observations:
`Reviews`,`Ratings`,`Ram`,`Battery_c`,`Star_Rating`,`Screen size`,`Warranty`, are containing nan values.Where nan is float valriable so need to convert them to float values

In [292]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 720 entries, 0 to 719
Data columns (total 15 columns):
Unnamed: 0      720 non-null int64
BRAND           720 non-null object
PRODUCT_NAME    720 non-null object
COLOR           362 non-null object
MEMORY          356 non-null float64
STAR_RATING     704 non-null float64
RATINGS         402 non-null float64
REVIEWS         227 non-null float64
RAM             317 non-null float64
BATTERY_C       720 non-null float64
SCREEN_SIZE     675 non-null float64
WARRANTY        583 non-null float64
OFFER_PRICE     720 non-null int32
DISCOUNT        720 non-null object
MRP             720 non-null int32
dtypes: float64(8), int32(2), int64(1), object(4)
memory usage: 78.9+ KB

In [293]:
df.drop(axis=1,columns=['Unnamed: 0'],inplace=True)
df.head()

,BRAND,PRODUCT_NAME,COLOR,MEMORY,STAR_RATING,RATINGS,REVIEWS,RAM,BATTERY_C,SCREEN_SIZE,WARRANTY,OFFER_PRICE,DISCOUNT,MRP
0,Redmi,"8 (Onyx Black, 64 GB)",Onyx Black,64.0,4.4,461522.0,38510.0,4.0,5000.0,6.22,1.0,8999,18% off,10999
1,Realme,"5i (Forest Green, 128 GB)",Forest Green,128.0,4.4,137585.0,10799.0,4.0,5000.0,6.52,1.0,10999,8% off,11999
2,Realme,"C3 (Frozen Blue, 32 GB)",Frozen Blue,32.0,4.4,29310.0,2983.0,3.0,5000.0,6.52,1.0,7499,6% off,7999
3,Realme,"C3 (Blazing Red, 32 GB)",Blazing Red,32.0,4.4,29310.0,2983.0,3.0,5000.0,6.52,1.0,7499,6% off,7999
4,Realme,"5i (Forest Green, 64 GB)",Forest Green,64.0,4.4,137585.0,10799.0,4.0,5000.0,6.52,1.0,9999,9% off,10999

#### Observations:

- While import the CSV file we found that index column is added to dataframe.
- We drop the unnamed column us drop() method.

In [294]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 720 entries, 0 to 719
Data columns (total 14 columns):
BRAND           720 non-null object
PRODUCT_NAME    720 non-null object
COLOR           362 non-null object
MEMORY          356 non-null float64
STAR_RATING     704 non-null float64
RATINGS         402 non-null float64
REVIEWS         227 non-null float64
RAM             317 non-null float64
BATTERY_C       720 non-null float64
SCREEN_SIZE     675 non-null float64
WARRANTY        583 non-null float64
OFFER_PRICE     720 non-null int32
DISCOUNT        720 non-null object
MRP             720 non-null int32
dtypes: float64(8), int32(2), object(4)
memory usage: 73.2+ KB

In [295]:
# Finding the null values:
df.isnull()

,BRAND,PRODUCT_NAME,COLOR,MEMORY,STAR_RATING,RATINGS,REVIEWS,RAM,BATTERY_C,SCREEN_SIZE,WARRANTY,OFFER_PRICE,DISCOUNT,MRP
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
715,False,False,True,True,False,True,True,True,False,False,False,False,False,False
716,False,False,True,True,False,True,True,True,False,False,False,False,False,False
717,False,False,True,True,False,True,True,True,False,False,False,False,False,False
718,False,False,True,True,False,True,True,True,False,False,False,False,False,False
719,False,False,True,True,False,True,True,True,False,False,False,False,False,False

In [296]:
#To know the total values which are missing in the dataframe,column wise
df.isnull().sum()

BRAND             0
PRODUCT_NAME      0
COLOR           358
MEMORY          364
STAR_RATING      16
RATINGS         318
REVIEWS         493
RAM             403
BATTERY_C         0
SCREEN_SIZE      45
WARRANTY        137
OFFER_PRICE       0
DISCOUNT          0
MRP               0
dtype: int64

In [297]:
#Checking for the total no of missing values 
((df.isnull().sum())/len(df))*100

BRAND            0.000000
PRODUCT_NAME     0.000000
COLOR           49.722222
MEMORY          50.555556
STAR_RATING      2.222222
RATINGS         44.166667
REVIEWS         68.472222
RAM             55.972222
BATTERY_C        0.000000
SCREEN_SIZE      6.250000
WARRANTY        19.027778
OFFER_PRICE      0.000000
DISCOUNT         0.000000
MRP              0.000000
dtype: float64

### Product name:

In [298]:
df.dropna(inplace=True,subset=['PRODUCT_NAME'])
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 720 entries, 0 to 719
Data columns (total 14 columns):
BRAND           720 non-null object
PRODUCT_NAME    720 non-null object
COLOR           362 non-null object
MEMORY          356 non-null float64
STAR_RATING     704 non-null float64
RATINGS         402 non-null float64
REVIEWS         227 non-null float64
RAM             317 non-null float64
BATTERY_C       720 non-null float64
SCREEN_SIZE     675 non-null float64
WARRANTY        583 non-null float64
OFFER_PRICE     720 non-null int32
DISCOUNT        720 non-null object
MRP             720 non-null int32
dtypes: float64(8), int32(2), object(4)
memory usage: 78.8+ KB

#### Observations
Since Product name  is unique,replacing it with some value doesn't make right so we drop it

In [299]:
df['WARRANTY'].value_counts().index[0]

1.0

#### Warranty

In [300]:
df['WARRANTY'].fillna(df['WARRANTY'].value_counts().index[0],inplace=True)

#### Observations:
- Let's impute Warranty with the most frequently occuring value.
- Because warranty is containg less no. of missing values and max. mobiles are have min warranty so we are filling the data with the most frequently occuring value.

In [301]:
df.describe()

,MEMORY,STAR_RATING,RATINGS,REVIEWS,RAM,BATTERY_C,SCREEN_SIZE,WARRANTY,OFFER_PRICE,MRP
count,356.000000,704.000000,402.000000,227.000000,317.000000,720.000000,675.000000,720.000000,720.000000,720.000000
mean,79.573034,4.057670,71510.497512,11932.400881,4.233438,2392.368056,4.025985,1.008333,10351.905556,12027.861111
std,81.315229,0.410458,133606.129346,14528.218317,2.000574,1486.530408,2.081404,0.090969,19364.732019,20708.778102
min,0.000000,1.000000,1129.000000,1003.000000,1.000000,0.000000,0.660000,1.000000,499.000000,539.000000
25%,32.000000,3.800000,4008.000000,2031.000000,3.000000,1000.000000,1.800000,1.000000,959.000000,1099.000000
50%,64.000000,4.100000,12751.500000,6707.000000,4.000000,2000.000000,2.800000,1.000000,2674.500000,2949.000000
75%,128.000000,4.400000,72701.000000,14204.000000,6.000000,4000.000000,6.220000,1.000000,11410.000000,14999.000000
max,512.000000,4.800000,783395.000000,69216.000000,12.000000,6000.000000,6.700000,2.000000,150800.000000,150800.000000

### STAR_RATING

In [302]:
df['STAR_RATING']=df['STAR_RATING'].fillna(0)

#### Observations:
- Since some mobiles are not having star rating that means those were not rated yet.
- We can assume zero rating rather than deleting the column

In [303]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 720 entries, 0 to 719
Data columns (total 14 columns):
BRAND           720 non-null object
PRODUCT_NAME    720 non-null object
COLOR           362 non-null object
MEMORY          356 non-null float64
STAR_RATING     720 non-null float64
RATINGS         402 non-null float64
REVIEWS         227 non-null float64
RAM             317 non-null float64
BATTERY_C       720 non-null float64
SCREEN_SIZE     675 non-null float64
WARRANTY        720 non-null float64
OFFER_PRICE     720 non-null int32
DISCOUNT        720 non-null object
MRP             720 non-null int32
dtypes: float64(8), int32(2), object(4)
memory usage: 78.8+ KB

### Memory

In [304]:
df['MEMORY']=df['MEMORY'].fillna(0)

#### Observations:
- We observe that some mobiles are not having Memory because for feature mobiles Memory will not present.

- We can assume zero as memory rather than deleting the column

### RAM

In [305]:
df['RAM']=df['RAM'].fillna(0)

#### Observations:
- We observe that some mobiles are not having RAM because for feature mobiles RAM will not present as like Memory.

- We can assume zero for RAM rather than deleting the column

### RATINGS

In [306]:
df['RATINGS']=df['RATINGS'].fillna(0)

#### Observations:
- Since some mobiles are not having ratings that means those were not rated yet.
- We can assume zero rating rather than deleting the column

### REVIEWS

In [307]:
df['REVIEWS']=df['REVIEWS'].fillna(0)

#### Observations:
- Since some mobiles are not having Reviews that means those were not reviewed yet.
- We can assume zero reviews rather than deleting the column

In [308]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 720 entries, 0 to 719
Data columns (total 14 columns):
BRAND           720 non-null object
PRODUCT_NAME    720 non-null object
COLOR           362 non-null object
MEMORY          720 non-null float64
STAR_RATING     720 non-null float64
RATINGS         720 non-null float64
REVIEWS         720 non-null float64
RAM             720 non-null float64
BATTERY_C       720 non-null float64
SCREEN_SIZE     675 non-null float64
WARRANTY        720 non-null float64
OFFER_PRICE     720 non-null int32
DISCOUNT        720 non-null object
MRP             720 non-null int32
dtypes: float64(8), int32(2), object(4)
memory usage: 78.8+ KB

In [309]:
df['SCREEN_SIZE'].describe()

count    675.000000
mean       4.025985
std        2.081404
min        0.660000
25%        1.800000
50%        2.800000
75%        6.220000
max        6.700000
Name: SCREEN_SIZE, dtype: float64

In [310]:
df['SCREEN_SIZE'].fillna(df.describe().loc['mean','SCREEN_SIZE'],inplace=True)

In [311]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 720 entries, 0 to 719
Data columns (total 14 columns):
BRAND           720 non-null object
PRODUCT_NAME    720 non-null object
COLOR           362 non-null object
MEMORY          720 non-null float64
STAR_RATING     720 non-null float64
RATINGS         720 non-null float64
REVIEWS         720 non-null float64
RAM             720 non-null float64
BATTERY_C       720 non-null float64
SCREEN_SIZE     720 non-null float64
WARRANTY        720 non-null float64
OFFER_PRICE     720 non-null int32
DISCOUNT        720 non-null object
MRP             720 non-null int32
dtypes: float64(8), int32(2), object(4)
memory usage: 78.8+ KB

In [312]:
df['COLOR']=df['COLOR'].fillna('No Color')

In [313]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 720 entries, 0 to 719
Data columns (total 14 columns):
BRAND           720 non-null object
PRODUCT_NAME    720 non-null object
COLOR           720 non-null object
MEMORY          720 non-null float64
STAR_RATING     720 non-null float64
RATINGS         720 non-null float64
REVIEWS         720 non-null float64
RAM             720 non-null float64
BATTERY_C       720 non-null float64
SCREEN_SIZE     720 non-null float64
WARRANTY        720 non-null float64
OFFER_PRICE     720 non-null int32
DISCOUNT        720 non-null object
MRP             720 non-null int32
dtypes: float64(8), int32(2), object(4)
memory usage: 78.8+ KB

In [314]:
df['MEMORY']=df['MEMORY'].astype(int)

In [315]:
df['REVIEWS']=df['REVIEWS'].astype(int)

In [316]:
df['RATINGS']=df['RATINGS'].astype(int)

In [317]:
df.to_csv('Fmobiles_clean.csv')