In [1]:
import warnings
warnings.filterwarnings('ignore')
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import requests
from bs4 import BeautifulSoup
import re
import time
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [91]:
productname = [] 
price = []
rating = []
delivery = []
pagenum = []
savings = []
for i in range(1,100):

    headers = {
        'dnt': '1',
        'upgrade-insecure-requests': '1',
        "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/98.0.4758.80 Safari/537.36 Edg/98.0.1108.43",
        'accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9',
        'sec-fetch-site': 'same-origin',
        'sec-fetch-mode': 'navigate',
        'sec-fetch-user': '?1',
        'sec-fetch-dest': 'document',
        'referer': 'https://www.amazon.com/',
        'accept-language': 'en-GB,en-US;q=0.9,en;q=0.8',
    }
    url="https://www.amazon.in/s?k=laptops&page="+str(i)
    
    r = requests.get(url, headers=headers)
    content = r.content
    soup = BeautifulSoup(content,'lxml')
    for x in soup.find_all('div', attrs={'class': "s-card-container s-overflow-hidden aok-relative s-include-content-margin s-latency-cf-section s-card-border"}):
        prodname=x.find('span', attrs={'class':"a-size-medium a-color-base a-text-normal"})
        cost=x.find('span', attrs={'class':'a-price-whole'})
        rat=x.find('span', attrs={'class':'a-icon-alt'})
        deli=x.find('span',attrs={'class': 'a-color-base a-text-bold'})
        savi=x.find('div',attrs= {'class': "a-row a-size-base a-color-base"})
        if prodname is None:
            productname.append(np.NaN)
        else:
            productname.append(prodname.text)
        if cost is None:
            price.append(np.NaN)
        else:
            price.append(cost.text)
        if rat is None:
            rating.append(np.NaN)
        else:
            rating.append(rat.text)
        if deli is None:
            delivery.append(np.NaN)
        else:
            delivery.append(deli.text)
        if savi is not None:
            savings.append(savi.text)
        else:
            savings.append(np.NaN)

In [92]:
len(productname)
len(price)
len(rating)
len(delivery)
len(savings)

900

900

900

900

900

In [93]:
df=pd.DataFrame()
df['Productname']=productname
df['price']=price
df['Ratinf']=rating
df['Delivery']=delivery
df['Savings']=savings

In [94]:
df

,Productname,price,Ratinf,Delivery,Savings
0,HP 14s 11th Gen Intel Core i3- 8GB RAM/256GB S...,"42,490",4.2 out of 5 stars,"Tomorrow, February 15","₹42,490₹42,490 ₹55,562₹55,562 Save ₹13,072 (24%)"
1,"Lenovo Ideapad 3 AMD Ryzen 5 5500U 15.6"" FHD T...","49,990",4.2 out of 5 stars,"Tomorrow, February 15","₹49,990₹49,990 ₹68,990₹68,990 Save ₹19,000 (28%)"
2,HP 11th Gen Intel Core i3 15.6 inch(39.6 cms) ...,"39,490",3.3 out of 5 stars,"Tomorrow, February 15","₹39,490₹39,490 ₹45,515₹45,515 Save ₹6,025 (13%)"
3,"Lenovo IdeaPad 3 11th Gen Intel Core i5 14"" FH...","60,990",4.2 out of 5 stars,"Tomorrow, February 15","₹60,990₹60,990 ₹91,890₹91,890 Save ₹30,900 (34%)"
4,"Lenovo Chromebook 14e 14.0"" FHD Business Lapto...","20,990",3.4 out of 5 stars,"Tomorrow, February 15","₹20,990₹20,990 ₹60,000₹60,000 Save ₹39,010 (65%)"
...,...,...,...,...,...
895,HP Chromebook 14 Intel Celeron N4020-4GB SDRAM...,"27,390",3.8 out of 5 stars,"Tomorrow, February 15","₹27,390₹27,390 ₹29,741.50₹29,741.50 Save ₹2,3..."
896,HP Victus AMD Ryzen 5 5600H 16.1 inches FHD Ga...,"59,990",4.4 out of 5 stars,"Tomorrow, February 15","₹59,990₹59,990 ₹73,682₹73,682 Save ₹13,692 (19%)"
897,Acer Aspire 5 A514-54 Thin and Light Laptop | ...,"46,990",4.1 out of 5 stars,"Tomorrow, February 15","₹46,990₹46,990 ₹66,999₹66,999 Save ₹20,009 (30%)"
898,HP 15 Ryzen 3 3250U- 8GB RAM/256GB SSD Thin & ...,"39,490",4.2 out of 5 stars,"Tomorrow, February 15","₹39,490₹39,490 ₹46,055₹46,055 Save ₹6,565 (14%)"
899,Acer Swift 3 SF314-511 Intel EVO Thin and Ligh...,"60,990",4.8 out of 5 stars,"Tomorrow, February 15","₹60,990₹60,990 ₹89,999₹89,999 Save ₹29,009 (32%)"

In [85]:
df.to_csv("sc_data.csv",index=False)